@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}   

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    margin: 0 24px;
}

ul {
    list-style: none;
}


.purple {
    color: rgb(100 21 255);
}

button {
    border-radius: 9999px;
    background-color: rgb(100 21 255);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

/* 

NAVIGATION

*/

nav {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.025em;
}

.nav__logo--container {
    display: flex;
    align-items: center;
}

.nav__logo__img--container {
    width: 2.5rem;
    margin: 12px;
}

.nav__logo--img {
    width: 100%;
}

.nav__logo--text {
    font-weight: 900;
    font-size: 1.5rem;
}

.nav__links {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.nav__link--secondary {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    background-color: rgb(100 21 255);
    padding: 12px 32px;
    border-radius: 9999px;
    color: white;
}

/* 

HEADER

*/

#header {
    display: flex;
    align-items: center;
    padding: 64px 0;
}

.header__left {
    width: 40%;
    text-align: left;
}

.header__title {
    font-size: 48px;
}

.header__para {
    margin: 32px 0;
    font-size: 1.125rem;
    letter-spacing: 0.025em;
}

.header__input {
    position: relative;
    margin-bottom: 72px;
}

.header__email::placeholder {
    color: rgb(226, 232, 240);
}

.header__email {
    border: 2px solid rgb(226, 232, 240);
    border-radius: 80px;
    padding: 20px 192px 20px 32px;
    font-size: 100%;
}

.header__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 2.4rem;
    width: 10rem;
    font-size: 100%;
}

.header__left--customers {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgb(160, 174, 192);
    margin-bottom: 16px;
}

.header__left__img--container {
    width: 100%;
    padding-right: 6rem;
}

.header__left--img {
    width: 100%;
    opacity: 50%;
}

.header__right {
    width: 60%;
}

.header__img--container {
    width: 100%;
}

.header__img {
    width: 100%;
    max-width: 48rem;
}

