@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}  

.container {
    padding: 80px 0;
}   

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.purple {
    color: rgb(100 21 255);
}

button {
    border-radius: 9999px;
    background-color: rgb(100 21 255);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 32px;
}

/* 

NAVIGATION

*/

nav {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.025em;
}

.nav__logo--container {
    display: flex;
    align-items: center;
}

.nav__logo__img--container {
    width: 2.5rem;
    margin: 12px;
}

.nav__logo--img {
    width: 100%;
}

.nav__logo--text {
    font-weight: 900;
    font-size: 1.5rem;
}

.nav__links {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.nav__link {
    margin: 0 24px;
}

.nav__link--secondary {
    margin-left: 24px;
}

.nav__link--primary {
    margin: 0;
    background-color: rgb(100 21 255);
    padding: 12px 32px;
    border-radius: 9999px;
    color: white;
}

/* 

HEADER

*/

#header {
    display: flex;
    align-items: center;
    padding: 64px 0;
}

.header__left {
    width: 40%;
    text-align: left;
}

.header__title {
    font-size: 48px;
}

.header__para {
    margin: 32px 0;
    font-size: 1.125rem;
    letter-spacing: 0.025em;
}

.header__input {
    position: relative;
    margin-bottom: 72px;
}

.header__email::placeholder {
    color: rgb(226, 232, 240);
}

.header__email {
    border: 2px solid rgb(226, 232, 240);
    border-radius: 80px;
    padding: 20px 192px 20px 32px;
    font-size: 100%;
}

.header__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 2.4rem;
    width: 10rem;
    font-size: 100%;
}

.header__left--customers {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgb(160, 174, 192);
    margin-bottom: 16px;
}

.header__left__img--container {
    width: 100%;
    padding-right: 6rem;
}

.header__left--img {
    width: 100%;
    opacity: 50%;
}

.header__right {
    width: 60%;
}

.header__img--container {
    width: 100%;
}

.header__img {
    width: 100%;
    max-width: 48rem;
}

/* 

FEATURES

*/

.features__container {
    margin: 48px;
}

.features__row {
    max-width: 1000px;
}

.purple__title {
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgb(100 21 255);
}

.section__title {
    font-size: 48px;
    width: 100%;
    letter-spacing: 0.025em;
    font-weight: 900;
    padding: 24px 0;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.features__para {
    width: 100%;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.625;
    max-width: 36rem;
    color: rgb(144, 146, 150);
    font-weight: 500;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 2rem 0.5rem;
}

.service__img {
    border: 1px solid rgb(226, 232, 240);
    border-radius: 9999px;
    text-align: center;
    padding: 20px;
}

.service__description {
    margin-left: 16px;
    margin-top: 0.5rem;
}

.service__title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.025em;
    line-height: 1;
}

.service__para {
    font-weight: 500;
    line-height: 2;
    color: rgb(144, 146, 150);
    margin-top: 16px;
}

/* 

QUALITY

*/

.quality__row {
    display: flex;
}

.quality__description {
    width: 50%;
    padding-right: 32px;
}

.quality__para {
    font-size: 1.125rem;
    text-align: left;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(144, 146, 150);
}

.quality__button {
    margin-top: 32px;
}

.quality__img--container {
    width: 50%;
}

.quality__img {
    width: 100%;
    border: 1px solid rgba(209, 212, 218, 0.5);
    border-radius: 0.25rem;
}

