@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}  

.container {
    padding: 80px 0;
}   

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.purple {
    color: rgb(100 21 255);
}

button {
    border-radius: 9999px;
    background-color: rgb(100 21 255);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 32px;
    cursor: pointer;
}

/* 

NAVIGATION

*/

nav {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.025em;
}

.nav__logo--container {
    display: flex;
    align-items: center;
}

.nav__logo__img--container {
    width: 2.5rem;
    margin: 12px;
}

.nav__logo--img {
    width: 100%;
}

.nav__logo--text {
    font-weight: 900;
    font-size: 1.5rem;
}

.nav__links {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.nav__link {
    margin: 0 24px;
}

.nav__link--secondary {
    margin-left: 24px;
}

.nav__link--primary {
    margin: 0;
    background-color: rgb(100 21 255);
    padding: 12px 32px;
    border-radius: 9999px;
    color: white;
}

/* 

HEADER

*/

#header {
    display: flex;
    align-items: center;
    padding: 64px 0;
}

.header__left {
    width: 40%;
    text-align: left;
}

.header__title {
    font-size: 48px;
}

.header__para {
    margin: 32px 0;
    font-size: 1.125rem;
    letter-spacing: 0.025em;
}

.header__input {
    position: relative;
    margin-bottom: 72px;
}

.header__email::placeholder {
    color: rgb(226, 232, 240);
}

.header__email {
    border: 2px solid rgb(226, 232, 240);
    border-radius: 80px;
    padding: 20px 192px 20px 32px;
    font-size: 100%;
}

.header__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 2.4rem;
    width: 10rem;
    font-size: 100%;
}

.header__left--customers {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgb(160, 174, 192);
    margin-bottom: 16px;
}

.header__left__img--container {
    width: 100%;
    padding-right: 6rem;
}

.header__left--img {
    width: 100%;
    opacity: 50%;
}

.header__right {
    width: 60%;
}

.header__img--container {
    width: 100%;
}

.header__img {
    width: 100%;
    max-width: 48rem;
}

/* 

FEATURES

*/

.features__container {
    margin: 48px;
}

.features__row {
    max-width: 1000px;
}

.purple__title {
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgb(100 21 255);
}

.section__title {
    font-size: 48px;
    width: 100%;
    letter-spacing: 0.025em;
    font-weight: 900;
    padding: 24px 0;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.features__para {
    width: 100%;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.625;
    max-width: 36rem;
    color: rgb(144, 146, 150);
    font-weight: 500;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 2rem 0.5rem;
}

.service__img {
    border: 1px solid rgb(226, 232, 240);
    border-radius: 9999px;
    text-align: center;
    padding: 20px;
}

.service__description {
    margin-left: 16px;
    margin-top: 0.5rem;
}

.service__title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.025em;
    line-height: 1;
}

.service__para {
    font-weight: 500;
    line-height: 2;
    color: rgb(144, 146, 150);
    margin-top: 16px;
}

/* 

QUALITY

*/

.quality__row {
    display: flex;
}

.quality__description {
    width: 50%;
    padding-right: 32px;
}

.quality__para {
    font-size: 1.125rem;
    text-align: left;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(144, 146, 150);
}

.quality__button {
    margin-top: 32px;
}

.quality__img--container {
    width: 50%;
}

.quality__img {
    width: 100%;
    border: 1px solid rgba(209, 212, 218, 0.5);
    border-radius: 0.25rem;
}

/* 

STEPS

*/

#steps {
    display: flex;
    margin: 96px 0;
}

.steps__img--container {
    width: 50%;
    display: flex;
    align-items: center;
}

.steps__img {
    width: 100%;
}

.steps__description {
    width: 50%;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.steps {
    margin-top: 1rem;
}


.step {
    display: flex;
    margin-top: 0.75rem;
}

.step__number--container {
    width: 7%;
}

.step__number {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
    color: rgb(203, 213, 224);
}

.step__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
}

.step__para {
    margin-top: 0.75rem;
    max-width: 20rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(113, 128, 150);
}


.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    width: 93%;
}

/* 

PRICING

*/

.pricing__description {
    text-align: center;
}

.pricing__para {
    max-width: 36rem;
    margin: 0 auto;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(124, 139, 161);
}

.plans {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    width: 100%;
    justify-content: space-between;
}

.plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
}

.plan__card {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 0.5rem;
    margin: 0 1rem;
}


.plan__line {
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

.plan__card--header {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.625;
}

.plan__name {
    font-size: 1.25rem;
    font-weight: 700;
}

.plan__price {
    font-size: 3rem;
    font-weight: 700;
}

.plan__duration {
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgb(160, 174, 192);
}

.plan__card--features {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(226, 232, 240);
    border-bottom: 1px solid rgb(226, 232, 240);
    padding: 2rem;
}

.plan__feature {
    color: rgb(113, 128, 150);
    font-weight: 500;
    margin-top: 1.25rem;
}

.main--feature {
    color: black;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.plan__card--footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 1rem;

}

.plan__button {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    font-weight: 700;
    padding: 1rem 3rem;
    letter-spacing: 0.05em;
}

.business__btn {
    background: white;
    color: rgb(100, 21, 255);
}

.business__card {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    margin: 0 1rem;
}

.business__card span {
    color: white;
}

.enterprise__btn {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.enterprise__line {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* 

FOOTER

*/

footer {
    background-color: rgb(100, 21, 255);
    color: white;
    padding: 6rem;
}

.link__title {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 8px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__links li {
    margin-top: 1rem;
}

.footer__link {
    color: white;
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 500;
}

.links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(144, 146, 150);
    text-align: left;
    padding-bottom: 48px;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    align-items: center;
}

.footer__logo--img--container {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    width: 2rem;
}

.footer__logo--text {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin-left: 0.5rem;
}

.footer__copyright--para {
    font-weight: 500;
    text-align: center;
    color: rgb(203, 213, 224);
    margin-right: -16px;
}

.social__links {
    display: flex;
}

.social__link {
    color: black;
    background-color: white;
    border-radius: 100%;
    margin-left: 16px;
}   

.fa-facebook {
   padding: 8px 11px;
}

.fa-twitter {
    padding: 8px;
}

.fa-youtube {
    padding: 8px;
}